<html lang="en">
<%- include("./particles/head.ejs"); %>
<body>
    <%- include("./particles/maintext.ejs"); %>
    <center>
        <h1 style="font-size:100px;">404</h1>
        <h1 style="font-size:100px;">:(</h1>
        <h1 style="font-size:70px;">This page doesn't exist</h1>
    </center>
</body>
</html>