<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unpopular opinion</title>
    <style>
        body{
            background-color: aliceblue;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        .maintext{
            font-size: 50px;
        }
        a{
            text-decoration: none;
        }
        button{
            border-radius:15px;
            background-color:rgb(220, 135, 152);
            font-size:20px;
            width:100%;
            height:auto;
            padding:15px;
            border-style:none;
        }
    </style>
</head>